Django==4.2.16
Pillow==10.4.0
django-crispy-forms==2.3
crispy-tailwind==1.0.3
django-filter==24.3
celery==5.4.0
redis==5.1.1
python-decouple==3.8
mysqlclient==2.2.4
gunicorn==23.0.0
whitenoise==6.8.2
openpyxl==3.1.5
pymysql==1.1.1
reportlab==4.5.1
pypdf==6.11.0
